@charset "utf-8";
/* header 영역 */
header {
  position: fixed;
  width: 15vw;
  height: 100%;
  background-color:#abbbcc;
}

header>h1{
    text-align: center;
    padding: 10px 0px;
}

header>h1>a{
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    cursor: pointer;
    color:#ffe800;
}

.header__gnb__item{
    padding: 10px 20px 10px 20px;
    text-align: left;
    line-height: 20px;
}

.header__gnb__item>a{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__sub{
    padding-top:10px;
    padding-right: 5px;
    border-top: 1px solid #000;
/*    display: none;*/
}

.header__sub__item > a{
    font-size: 12px;
    text-transform: capitalize;
}
